<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="d-flex justify-content-between">
     <aside class="main-container d-flex">
          <div class="sidebar shadow" id="side-nav">
               <div class="header-box py-3 text-center">
                    <h1 class="fs-2 text-white">SLACA 2019</h1>
               </div>
               <div class="content bg-white">
                    <img class="object-fit-contain" src="./assets/img/SLACAlogo.png" alt="SLACA logo">    
                    <ul class="list-unstyled">
                         <li><a href="#" class="list-font text-decoration-none px-3 py-2 d-block">Apresentação</a><hr class="h-color"></li>
                         <li><a href="#" class="list-font text-decoration-none px-3 py-2 d-block">Comitês</a><hr class="h-color"></li>
                         <li><a href="#" class="list-font text-decoration-none px-3 py-2 d-block">Autores</a><hr class="h-color"></li>
                         <li><a href="#" class="list-font text-decoration-none px-3 py-2 d-block">Eixos temáticos</a><hr class="h-color"></li>
                         <li class="active"><a href="#" class="list-font text-decoration-none px-3 py-2 d-block">Trabalhos</a><hr class="h-color"></li>
                         <li><a href="#" class="list-font text-decoration-none px-3 py-2 d-block">Contato</a><hr class="h-color"></li>
                    </ul>                
               </div>
          </div>
     </aside>

     <main class="w-100">
          <header id="header-content">
               <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                    <a class="navbar-brand">Navbar</a>
                    <form class="d-flex" role="search">
                         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                         <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    </div>
               </nav>
          </header>
     </main>
</div>